// ------------------------ RESPONSIVE --------------------- // 
@media (max-width: 1024px) {
  .masonry_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 870px) {
  .partners_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3em;
    max-width: 55em;
    // margin: 0 auto;
    &:hover .partner{
      opacity: 1;
    }
    .partner {
      max-width: 20em;
      margin: 0 auto;
    }
  }
}

@media (max-width: 800px) {
  body {
    font-size: 12px;
  }
  header h1 {
    font-size: 3.5em;
  }
  .hero_text p {
    font-size: 1.7em;
  }
  .footer_grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .logo_grid_item {
    padding: 0 0 2em 0;
    text-align: center;
    grid-column: span 3;
  }
  nav {
    display: none;
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  
  }
  #nav_burger {
    display: flex;
  }
  .call_hero {
    font-size: 1.2em;
  }
}



@media (max-width: 611px) {
  .masonry_grid {
    grid-template-columns: 1fr;
  
  }
  .footer_grid {
    grid-template-columns: repeat(2, 1fr);

  }
  .logo_grid_item {
    grid-column: span 2;
  }
  .span_2 {
    grid-column: span 1;
  }
}
@media (max-width: 430px) { 
  .partners_grid {
    grid-template-columns: 1fr;
  }
}