// ---------------- GLOBAL VARIABLES ----------------------- //

// COLORS //

$pink: #FF4E50;
$d_pink: #be3639;
$pink_80: #ff4e50af;
$pink_20: #FF4E501f;
$green: #18D4CA;
$orange: #FFA710;
$purple: #667DF3;
$d_grey: #444444;
$grey: #666666;

// FONTS //

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700|Roboto:100,300');

$mont: 'Montserrat', sans-serif;
$robo: 'Roboto', sans-serif;

// EASINGS //
$inout: cubic-bezier(0.5, 0.0, 0.2, 1);
$out: cubic-bezier(0.2, 0.0, 0.2, 1);
$in: cubic-bezier(0.4, 0.0, 1, 1);